/* Stili generali */
body {
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding: 0;
    background-image: url('img/sfondo.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* Stile per l'header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 250px;
    position: relative;
}

/* Stile per il logo */
.logo {
    max-width: 200px;
    height: auto;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

.header-title {
    font-size: 60px;
    color: #7A1811;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 0 white, -2px -2px 0 white, -2px 2px 0 white, 2px -2px 0 white;
}

/* Animazioni per il testo */
.letter {
    display: inline-block;
    opacity: 0;
    transform: translateY(-100px) scale(1.5);
    animation: fall 0.5s forwards;
}

@keyframes fall {
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/* Stili per i riquadri delle immagini */
.grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.grid-item {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-item img {
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
}

.grid-item-title {
    margin-top: 15px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

/* Media queries per dispositivi mobili */
@media (max-width: 768px) {
    /* Stile per logo da mobile */
    .logo {
        max-width: 150px; /* Rimpicciolito rispetto a prima */
        height: auto;
    }

    /* Stili per il testo sotto il logo */
    .title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    .header-title {
        font-size: 10vw; /* Dimensione testo più grande da mobile */
        margin: 0; 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* Aggiunta di margine per la scritta su mobile */
    .header-title {
        margin-left: 15px; /* Margine sinistro */
        margin-right: 15px; /* Margine destro */
    }

    /* Stile per i riquadri delle immagini su dispositivi mobili */
    .grid {
        flex-direction: column;
        align-items: center;
    }

    .grid-item {
        width: 80vw;
        height: 80vw;
    }

    .grid-item img {
        max-width: 90%;
        max-height: 90%;
    }
}
